<ul class="nav justify-content-end">
  <img src="https://1.bp.blogspot.com/-LGWvCr9CLvk/YT7RDWPr13I/AAAAAAAAS_4/Wejzdvu2dTopmYp2lXfIw9Lg4ESzlQMSQCLcBGAsYHQ/s261/Logo%2BTECBANK.png" id="logoicon" alt="Company Icon">
  <h1 id="tectext">Tec Bank</h1>
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/terminal']" >Cuenta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/transferencia']">Transferencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Salir</a>
    </li>
  </ul>

